extends layout

block content
  h1= title
  
  div.container-fluid
    div.row
      -
        let results = [
          { toys_type: 'Piano', toys_size: 'Large', toys_price: 100 },
          { toys_type: 'Guitar', toys_size: 'Medium', toys_price: 800 },
          { toys_type: 'Violin', toys_size: 'Small', toys_price: 1300 }
        ]
        
      each toys,index in results
        .col-sm-2(onclick=buy(${index}))
          p toys Type: #{toys.toys_type}
          p Size: #{toys.toys_size}
          p Price: $#{toys.toys_price.toFixed(2)}

  a(href="/") Back to index

  script.
    function buy(index) {
        alert(You purchased item ${index});
    }